svg {
  width: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto
}

.dropzone {
  background-color: #022;
  color: #fff;
  width: 95vw;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.deleleImage {
  display: inline-block;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
}

.imageDiv {
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.dz-success-mark {
  display: none;
}

.dz-error-mark {
  display: none;
}

.dz-upload { 
  display: block; 
  background-color: red; 
  height: 10px;
  width: 0%;
}

.dz-filename {
  display: none;
}

.dz-remove {
  color: white;
}

.dz-preview {
  display: inline-block;
  margin: 0 5px;
}

#button {
  display: block;
  margin: 10px auto;
}

@media only screen and (max-width: 600px) {
  .imageContainer {
    justify-content: center;
  }
}